<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
    <form action="/upload" method="post">
      <input type="file" name="file">
      <input type="submit">
    </form>
    <p>File size in bytes: {{fileSize}}</p>
  </body>
</html>
